

    <div class="">
        <h6 class=""><i class="fa-solid fa-laptop-code"></i> EXPERENCIA LABORAL</h6>
        <hr />

        @for(element of dateExperiencia; track element.id){

        <ul class="listExpLab">
            <li>
                <p class="fontWeitBold">{{element.puesto | uppercase}}</p>
            </li>
            <li>
                <p class="fontWeitBold">{{element.namEmpresa | uppercase}}</p>
            </li>
            <li>
                <p class="fontWeitBoldClaro">{{element.fechaIni | date:'MM/yyyy'}}-{{element.fechaEnd | date:'MM/yyyy'}}
                    <br>
                    {{element.address}}
                </p>
            </li>
            <li>
                <p class="textJustify">{{element.description}}</p>
            </li>
        </ul>

        }

    </div>