

<div class="row">
    <div class="col-12 text-center">
        <div id="baderola">
            <div class="emblema"><i class="fa-solid fa-laptop-code"></i></div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-12 col-md-3">
        <div class="col-sm-3 text-center align-self-center">
            <img [src]="dataHeader.img" class="imgUser" />
        </div>
    </div>
    <div class="col-sm-12 col-md-6 text-center mt-2">
        <div class="col-sm-12">
            <h2>{{ dataHeader.nombre }}</h2>
        </div>
        <div class="col-sm-12">
            <h6>{{ dataHeader.puesto }}</h6>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 content">
        <ul class="ulHeader">
            @for(contact of dataHeader.conctactos | keyvalue; track contact.key){
            <li class="text-muted">
                {{contact.value}}
            </li>
            }
        </ul>
    </div>
</div>